@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Leaflet fix for container height */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
